body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.home-page{
    margin: 0;
        padding: 0;
        background-image: url(/img/main.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        min-height: 100vh;
}
.search-bar {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    padding: 20px;
    margin-top: 200px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

.dropdown-menu {
    position: relative;
}

.dropdown-menu a.dropdown-item {
    display: block;
    font-size: 14px;
    color: #212529;
    padding: 8px 16px;
    white-space: nowrap;
}

.dropdown-menu a.dropdown-item:hover {
    color: #fff;
    background-color: #007bff;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    background-color: #f8f9fa;
    border-radius: 0 0 5px 5px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    border-radius: 5px 5px 5px 0;
}

/*rooms*/


.rooms{
    padding: 90px;
}

.about-rooms{
    margin: 30px;
}







.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    color: #fff;
    padding: 10px;
    position: absolute;
    text-align: center;
    width: 100%;
}

.carousel-caption h1,
.carousel-caption p {
    margin: 0;
}

.carousel-inner>.item {
    display: inline-block;
    margin-right: 20px;
    vertical-align: top;
    width: 50%;
}

.carousel-inner>.item:nth-child(2n) {
    margin-right: 0;
}





















