.bg-image1 {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.bg-image1:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/Oualid/img/mainRooms.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(3px);
    z-index: -1;
}

.bg-image1:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(243, 238, 238, 0.5);
    opacity: 0.5;
}



.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    text-align: center;

}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(1);
}

